# ssl managed gcp/gke
apiVersion: networking.gke.io/v1
kind: ManagedCertificate
metadata:
  name: production-ingress-ssl-1
spec:
  domains:
    - www.abdidarmawan.com
---
apiVersion: networking.gke.io/v1
kind: ManagedCertificate
metadata:
  name: production-ingress-ssl-2
spec:
  domains:
    - blog.abdidarmawan.com
---
apiVersion: networking.gke.io/v1
kind: ManagedCertificate
metadata:
  name: production-ingress-ssl-3
spec:
  domains:
    - dashboard.abdidarmawan.id 
---
apiVersion: networking.gke.io/v1
kind: ManagedCertificate
metadata:
  name: production-ingress-ssl-4
spec:
  domains:
    - api.abdidarmawan.com
