# The difference between v1beta1 and v1beta2 is only in validation allowing more domain names per certificate
# Google-managed SSL certificates not support wildcard like *.abdidarmawan.com
apiVersion: networking.gke.io/v1beta2
kind: ManagedCertificate
metadata:
  name: production-ingress-ssl
spec:
  domains:
    - abdidarmawan.com
    - www.abdidarmawan.com
    - api.abdidarmawan.com
    - blog.abdidarmawan.com
    - kangsapu.com
